@use "sass:color";

$main-font: "Playfair Display";
$page-font: "Nunito";
$mqMin: 320px;
$mqMaxMovile: 767px;
$mqMinTablet: 768px;
$mqMaxTablet: 1024px;
$content-separation: 90px;
$main-color: #fff;
$secondary-color: #000; 
$icons-color: #e7e7e7;